h1 {
  color: #fff;
  font-family: "Source Serif Pro", serif;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
  color: #fff;
  margin: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
}
.hero-section {
  display: flex;
  justify-content: center;
  height: 50vh;
  background-image: url(/assets/movieroll.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 2.3rem;
  color: #000;
  border-radius: 20px;
  font-size: 1.5rem;
  font-family: "Source Serif Pro", serif;
  max-width: 100%;
  min-height: 100%;
  margin-top: 60px;
}
@media screen and (min-width: 640px) {
  .hero-section {
    margin-top: 0;
  }
  p{
  margin-left: 60%;
  margin-top: -50px;
  font-size: 1rem;
  }
  h1{
    justify-content: start;
  }
}
