header {
  max-width: 100%;
  background-color: rgb(0, 23, 31);
  max-height: 150px;
  border-radius: 20px;
  margin-top: -0.5rem;
}
a {
  text-decoration: none;
  color: rgb(244, 244, 249);
}

h1 {
  display: flex;
  justify-content: center;
  color: rgb(244, 244, 249);
}

form {
  padding: 2em;
  border-radius: 1rem;
}
input {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 16px;
}
label {
  color: rgb(244, 244, 249);
  display: block;
  margin-top: 1rem;
}

button {
  background-color: #ea2b1f;
  margin-top: 10px;
  border-radius: 20px;
  border: 0;
  width: 200px;
  height: 40px;
  font-weight: bold;
  font-size: 1rem;
}

button:hover {
  color: #fff;
}

.form-error {
  display: none;
  color: #ea2b1f;
  font-size: 1rem;
  margin-top: 2px;
}



.custom-shape-divider-bottom-1679439026 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679439026 svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1679439026 .shape-fill {
  fill: #fff;
}


