header {
  max-width: 100%;
  background-color: rgb(0, 23, 31);
  max-height: 150px;
  border-radius: 20px;
  margin-top: -0.5rem;
  
}
a {
  text-decoration: none;
  color: rgb(244, 244, 249);
}

h1 {
  display: flex;
  justify-content: center;
  color: rgb(244, 244, 249);
}

form {
  padding: 2em;
  border-radius: 1rem;
}
input {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 16px;
}
label {
  color: rgb(244, 244, 249);
  display: block;
  margin-top: 1rem;
}

button {
  background-color: #bc4b51;
  margin-top: 10px;
  border-radius: 20px;
  border: 0;
  width: 200px;
  height: 40px;
  font-weight: bold;
  font-size: 1rem;
}

button:hover {
  color: #fff;
}

.form-error {
  display: none;
  color: rgb(187, 10, 33);
  font-size: 1rem;
  margin-top: 2px;
}





.error-message p {
  color: rgb(187, 10, 33);
}

.custom-shape-divider-bottom-1679439026 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679439026 svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1679439026 .shape-fill {
  fill: #fff;
}








/*header {
  margin: 10px;
}
h1 {
  font-family: "Source Serif Pro", serif;
}
form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  max-width: 100%;
  width: 500px;
  height: 100%;
  padding: 5px;
  border: 1px solid transparent;

  margin-top: 50px;
}
input {
  min-height: 45px;
  min-width: 90%;
}
button {
  background-color: #bc4b51;
  color: #000;
  font-size: 1.2rem;
  font-weight: bolder;
  min-width: 200px;
  margin-top: 10px;
  border-radius: 20px;
  text-decoration: none;
}
button:hover {
  color: rgb(244, 244, 249);
}
label {
  font-weight: bolder;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  background-color: rgb(244, 244, 249);
  border-radius: 20px;
  max-width: 80%;
  min-height: 70%;
}
@media screen and (min-width: 640px) {
  main a {
    min-width: 250px;
  }
}

.form-error {
  display: none;
  color: #bc4b51;
}
*/
