header {
  margin: 10px;
}
h1 {
  font-family: "Source Serif Pro", serif;
}
form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  max-width: 100%;
  width: 500px;
  height: 100%;
  padding: 5px;
  border: 1px solid transparent;

  margin-top: 50px;
}
input {
  min-height: 45px;
  min-width: 90%;
}
main a {
  background-color: #bc4b51;
  color: #000;
  font-size: 1.2rem;
  font-weight: bolder;
  min-width: 200px;
  margin-top: 10px;
  border-radius: 20px;
  text-decoration: none;
}
main a:hover {
  color: #ffffff;
}
label {
  font-weight: bolder;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  background-color: #ffffff;
  border-radius: 20px;
  max-width: 80%;
  min-height: 70%;
}
@media screen and (min-width:640px) {
  main a{
    min-width: 250px;
  }
}