html {
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
html:focus-within {
  scroll-behavior:smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background: #175676;
  max-width: 100%;
  height: 100%;
}
header {
  max-width: 100%;
  background-color: rgb(214, 227, 248);
  max-height: 1500px;
  border-radius: 20px;
  margin-top: -0.5rem;
}
.container {
  display: flex;
  gap: 0;
  margin-top: 0;
  max-width: 100%;
  
}
.logo {
  max-height: 100px;
}
header a {
  padding-left: 10px;
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}
nav ul {
  display: flex;
  list-style-type: none;
}

.icons-container{
  display: flex;
  margin-left: 50%;
  margin-right: 0;
  gap: 20px;
  font-size: 24px;}

h1, h2{
  color: white;
  font-family: "Source Serif Pro", serif;
}
h1{
  text-align: center;
}

.topm-container, .action-container, .comedy-container {
  display: flex;
  position: relative;
}
.movie {
  flex: 30%;
  padding: 5px;
}
img{
    
    max-width: 100%;
    min-height:  100%;
}
.watch-now{
    position: absolute;
    top: 90%;
    background-color: #bc4b51;
    border-radius: 20px;
    width: 50px;
    height: 10px;
    font-size: 0.5rem;
    color: #000;
    font-weight: bold;
    padding: 0;
    border: none;
    
}
.btn1{
right: 81%;
}
.btn2{
    right: 61%;
}
.btn3{
    right: 41%;
}
.btn4{
    right: 21%;
}
.btn5{
    right: 1%
}
.watch-now:hover{
  color: #fff;
}



.btn6, .btn11{
  right: 82%;
}
.btn7, .btn12{
  right: 62%;
}
.btn8, .btn13{
  right: 42%;
}
.btn9, .btn14{
  right: 22%;
}
.btn10,.btn15{
  right: 2%;
}



footer {
    
  background-color: rgb(214, 227, 248);
  min-height: 45px;
  max-height: 100px;
  border-radius: 20px;
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  font-size: 1.3rem;
}
footer a {
  color: black;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 40px;
}
footer a:hover,
header a:hover {
  color: #bc4b51;
}

@media screen and (min-width: 769px) {
  .watch-now {
    width: 100px;
    height: 20px;
    font-size: 1rem;
  }
  .btn2 {
    right: 63%;
  }
  .btn3{
    right: 44%;
  }
 .btn4{
  right: 23%;
 }
 .btn5{
  right: 3%;
 }
.btn6, .btn11{
  right:85% ;
}
.btn7, .btn12{
  right: 65%;
}
.btn8, .btn13{
  right: 44%;
}
.btn9, .btn14{
  right: 26%;
}
.btn10, .btn15{
  right: 4%;
}

}

@media screen and (min-width:640px) {
  .icons-container{
    display: flex;
    justify-content: flex-end ;
    margin-right: 20px;
    gap: 20px;
    font-size: 24px;}
  
  
  .icon-search{
  margin-top: -85px;
  }
  .icon-home{
    margin-top: -85px;
  }
  
}