html {
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
html:focus-within {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: rgb(0, 23, 31);
  max-width: 100%;
  height: 100%;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sticky + .content {
  padding-top: 102px;
}

header {
  max-width: 100%;
  background-color: rgb(0, 23, 31);
  max-height: 1500px;
  border-radius: 20px;
  margin-top: -0.5rem;
}
.container {
  display: flex;
  gap: 0;
  margin-top: 0;
  max-width: 100%;
}
.logo {
  max-height: 100px;
}
header a {
  padding-left: 30px;
  font-size: 1.5rem;
  font-weight: bolder;
}
a {
  text-decoration: none;
  color: rgb(244, 244, 249);
}
nav ul {
  display: flex;
  list-style-type: none;
}

h1,
h2 {
  color: rgb(244, 244, 249);
  font-family: "Source Serif Pro", serif;
}
h1 {
  text-align: center;
}

.topm-container,
.action-container,
.comedy-container {
  display: flex;
  position: relative;
}
.movie {
  flex: 30%;
  padding: 5px;
}
img {
  max-width: 100%;
  min-height: 100%;
}
.watch-now {
  position: absolute;
  top: 90%;
  background-color: red;
  border-radius: 20px;
  width: 50px;
  height: 10px;
  font-size: 0.5rem;
  color: #000;
  font-weight: bold;
  padding: 0;
  border: none;
}
.btn1 {
  right: 81%;
  display: flex;
  justify-content: center;
}
.btn2 {
  right: 61%;
}
.btn3 {
  right: 41%;
}
.btn4 {
  right: 21%;
}
.btn5 {
  right: 1%;
}
.watch-now:hover {
  color: rgb(244, 244, 249);
  
}

.btn6,
.btn11 {
  right: 82%;
}
.btn7,
.btn12 {
  right: 62%;
}
.btn8,
.btn13 {
  right: 42%;
}
.btn9,
.btn14 {
  right: 22%;
}
.btn10,
.btn15 {
  right: 2%;
}

footer {
  background-color: #fff;
  min-height: 45px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
  gap: 10px;
  font-size: 1.3rem;
}

span {
  font-family: "Josefin Sans", sans-serif;
  margin-left: 25%;
  font-weight: bold;
}
hr {
  border: 0.5px solid #000;
}

footer a {
  color: #000;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 40px;
}

footer p {
  color: #000;
}
footer a:hover,
header a:hover {
  color: #bc4b51;
}

.custom-shape-divider-bottom-1679439026 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679439026 svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 180px;
}

.custom-shape-divider-bottom-1679439026 .shape-fill {
  fill: #fff;
}

.hamburger-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.hamburger-menu .links {
  display: block;
  background-color: rgb(0, 23, 31);
}

.hamburger-menu a {
  color: rgb(244, 244, 249);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
}

.hamburger-menu a .icon {
  display: block;
}

@media only screen and (max-width: 769px) {
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu .links {
    display: none;
  }

  .msihbtn {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .watch-now {
    width: 100px;
    height: 20px;
    font-size: 1rem;
  }
  .btn2 {
    right: 63%;
  }
  .btn3 {
    right: 44%;
  }
  .btn4 {
    right: 23%;
  }
  .btn5 {
    right: 3%;
  }
  .btn6,
  .btn11 {
    right: 85%;
  }
  .btn7,
  .btn12 {
    right: 65%;
  }
  .btn8,
  .btn13 {
    right: 44%;
  }
  .btn9,
  .btn14 {
    right: 26%;
  }
  .btn10,
  .btn15 {
    right: 4%;
  }
}

@media screen and (min-width: 640px) {
  header a {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    gap: 20px;
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  footer {
    background-color: #fff;
    min-height: 45px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    min-width: 100px;
    font-size: 1.3rem;
  }

  span {
    font-family: "Josefin Sans", sans-serif;
    margin-right: 10px;
    font-weight: bold;
  }

  footer p {
    color: #000;
    margin: 0;
  }

  .footer-about {
    margin-right: 50px;
  }

  .footer-contact {
    margin-right: 50px;
  }

  .footer-creator {
    margin-left: 50px;
  }
}
