html {
  height: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
html:focus-within {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
main {
  height: calc(110vh - 50px);
  position: relative;
  margin-top: auto;
}

body {
  background-color: rgb(0, 23, 31);
  max-width: 100%;
  height: 100%;
  max-height: auto;
}
header {
  max-width: 100%;
  background-color: rgb(0, 23, 31);
  max-height: 1500px;
  border-radius: 20px;
  margin-top: -0.5rem;
}
.container {
  display: flex;
  gap: 0;
  margin-top: 0;
  max-width: 100%;
}
.logo {
  max-height: 100px;
}
header a {
  padding-left: 30px;
  font-size: 1.5rem;
  font-weight: bolder;
  text-decoration: none;
  color: rgb(244, 244, 249);
}
header a:hover {
  color: #bc4b51;
}
nav ul {
  display: flex;
  list-style-type: none;
}

img {
  max-width: 100%;
}
h1,
h2 {
  font-family: "Source Serif Pro", serif;
  color: rgb(244, 244, 249);
}

h2 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  color: rgb(244, 244, 249);
}

footer a:hover,
header a:hover {
  color: #bc4b51;
}

.custom-shape-divider-bottom-1679476698 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679476698 svg {
  position: relative;
  display: block;
  width: calc(140% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1679476698 .shape-fill {
  fill: #ffffff;
}

footer {
  background-color: #fff;
  min-height: 45px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
  gap: 10px;
  font-size: 1.3rem;
}

span {
  font-family: "Josefin Sans", sans-serif;
  margin-left: 25%;
  font-weight: bold;
}
hr {
  border: 0.5px solid #000;
}

footer a {
  color: #000;
  text-decoration: none;
  margin-right: 10px;
}
footer a:hover {
  color: #bc4b51;
}

footer p {
  color: #000;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sticky + .content {
  padding-top: 102px;
}

.hamburger-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.hamburger-menu .links {
  display: block;
}

.hamburger-menu a {
  color: rgb(244, 244, 249);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
}

.hamburger-menu a .icon {
  display: block;
}

@media only screen and (max-width: 769px) {
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu .links {
    display: none;
  }

  .msihbtn {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  p {
    position: relative;
    top: -400px;
    right: 0;
    left: 40%;
    bottom: 0;
    font-size: 2rem;
    max-width: 50%;
  }
}

@media screen and (min-width: 768px) {
  footer {
    background-color: #fff;
    min-height: 45px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    min-width: 100px;
    font-size: 1.3rem;
  }

  span {
    font-family: "Josefin Sans", sans-serif;
    margin-right: 10px;
    font-weight: bold;
  }

  footer p {
    color: #000;
    margin: 0;
  }

  .footer-about {
    margin-right: 50px;
  }

  .footer-contact {
    margin-right: 50px;
  }

  .footer-creator {
    margin-left: 50px;
  }
}
