html {
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
html:focus-within {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background: #175676;
  max-width: 100%;
  height: 100%;
}
header {
  max-width: 100%;
  background-color: rgb(214, 227, 248);
  max-height: 1500px;
  border-radius: 20px;
  margin-top: -0.5rem;
}
.container {
  display: flex;
  gap: 0;
  margin-top: 0;
  max-width: 100%;
}
.logo {
  max-height: 100px;
}
header a {
  padding-left: 10px;
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}
nav ul {
  display: flex;
  list-style-type: none;
}

.icons-container {
  display: flex;
  margin-left: 50%;
  margin-right: 0;
  gap: 20px;
  font-size: 24px;
}

img {
  max-width: 100%;
}
h1,
h2 {
  font-family: "Source Serif Pro", serif;
  color: #fff;
}

h2 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

footer {
  background-color: rgb(214, 227, 248);
  min-height: 45px;
  max-height: 100px;
  border-radius: 20px;
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  font-size: 1.3rem;
}
footer a {
  color: #000;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 40px;
}
footer a:hover,
header a:hover {
  color: #bc4b51;
}
@media screen and (min-width: 640px) {
  .icons-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    gap: 20px;
    font-size: 24px;
  }

  .icon-search {
    margin-top: -85px;
  }
  .icon-home {
    margin-top: -85px;
  }
}
@media screen and (min-width: 1024px) {
  p {
    position: relative;
    top: -400px;
    right: 0;
    left: 40%;
    bottom: 0;
    font-size: 2rem;
    max-width: 50%;
  }
}
