

.product img {
    max-width: 300px;
    height: auto;
  }
  
.product-container,.featured-product-container {
  display: grid;
  flex-direction: column;
  justify-content: center;
}    
  

  h1, h2 {
    color: rgb(244, 244, 249);
    font-family: "Source Serif Pro", serif;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  header {
    max-width: 100%;
    background-color: rgb(0, 23, 31);
    max-height: 1500px;
    border-radius: 20px;
    margin-top: -0.5rem;
  }
  .container {
    display: flex;
    gap: 0;
    margin-top: 0;
    max-width: 100%;
  }
  
  header a {
    padding-left: 30px;
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(244, 244, 249);
  }
  header a:hover {
    color: #ea2b1f;
  }
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  p {
    display: flex;
    justify-content: center;
    color: rgb(244, 244, 249);
    margin: 100px;
    font-family: "Poppins", sans-serif;
    font-size: 0.7rem;
  }


  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

  


.hamburger-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.hamburger-menu .links {
  display: block;
  background-color: rgb(0, 23, 31);
}

.hamburger-menu a {
  color: rgb(244, 244, 249);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
}

.hamburger-menu a .icon {
  display: block;
}


.add-to-cart-btn {
  background-color: #ea2b1f;
  border-radius: 20px;
 
 
  color: #000;
  font-weight: bold;
  border: none;
  color: #000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 10px 8px;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  color: rgb(244, 244, 249);
}


@media only screen and (max-width: 769px) {
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu .links {
    display: none;
  }

  .msihbtn {
    display: none;
  }
}
  