main{
    height: 60%;
    width: 100%;
}
header{
    
}
.check-circle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
h1 {
  text-align: center;
  margin-top: 5%;
}
.start-watching{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}
.start-watching:hover{
    color: #fff;
}
